@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Courgette&family=Raleway:wght@200;300;400&display=swap');

:root{
    --background: linear-gradient(135deg, #1cf727f6 0%, #235ddaa6 100%);
    --color-primary:gray;
    /* --color-primary:#1cc4f7a9; */
    --color-secondary:rgba(32, 87, 240, 0.329);
    --botton-padding: 20px 40px;
   
}
/* #667eea7e #764ba298  */
body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    /* background: red; */
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;

}
.subtitle{

 color: var(--color-primary);
 font-size:2.5rem;
 margin-bottom: 35px;
 background-color: #6e6a9721;
 /*#f7981c2c;
  #f3f71cb9; 
  #f3f71c5e;*/

}
.hero{
    height: 65vh;
    /* 100vh */
    background-image: var(--background), url(../css/ima\ x/fb2e5de65b5c3feb3bc475638ea77019);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    /* background-image:  url(../css/imagenes/if1.png); */
    background-image:  url(imagenes/i8.png);

}
.hero .container{
    padding: 0;

}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-size: 700;

}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;

}

.nav__items--cta{
    border: 1px solid #fff;
    
}

.nav__items--footer{
    padding: 10px;

}

.hero__container{
    display: flex;
height: auto;
    /* height: calc(100vh - 90px); */
    align-items: center;
    color: #fff;

}

.hero__texts{
    width: 100%;
    margin-bottom: 50px;

}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
    
}

/* 
esto es para el boton pero no tengo
.hero__cta{
    display: inline-block;
    background-color: #fff;
    padding: var(--botton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;

} */

.hero__wave{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* about */

.presentation{
    padding-top: 0;
    text-align: center;

}

.presentation__picture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}
.presentation .container{
    width: 80%;
    margin: o auto;
}


/* .presentation__copy{
    width: 80%;
    margin: o auto;
} */

/* 
esto es para el boton pero no tengo
.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--botton-padding);
    border-radius: 40px;
} */

.iframe{
    text-align: center;
}


/* comienzo contacto */
.contacto{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.contacto__img{
    text-align: center;
    

}

.contacto__picture{

    max-width: 80% ;

}

.contacto__img--left{
    text-align: left;
}

.contacto__texts{

    max-width: 80% ;
    text-align: center;
}

/* fin contacto */
/* comienzo oferta educativa */

.of{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;

}

.of__img{
    text-align: center;

}

.of__picture{

    max-width: 80% ;
}

/* .of__img--left{
    text-align: left;
} */

.of__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(134, 109, 163, 0.664);
    font-size:2rem;
}

/* fin oferta edu */
/* comienzo aulas espe */
.ae{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
    text-align: center;

}

.ae__img{
    text-align: center;

}

.ae__picture{

    max-width: 80% ;
}



.ae__paragraph{
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    
   
}   

.tp{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(134, 109, 163, 0.664);
    /* rgba(119, 17, 235, 0.664); */
    font-size:2rem;
}

.ae__texts{

    max-width: 80% ;
}
/* fin areas espe */
/* comienzo campus catalogo */

.projects{
    background: #c9c8c72c;
    /* #f2f2f2;
    #da6623bd; */

}

.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img4 img5 img6 img6";
    gap: 10px;
}
/* img{
    width: 100%;
} */

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-of-type(1){
    grid-area: img1;
}

.projects__item:nth-of-type(2){
    grid-area: img2;
}

.projects__item:nth-of-type(3){
    grid-area: img3;
}

.projects__item:nth-of-type(4){
    grid-area: img4;
}

.projects__item:nth-of-type(6){
    grid-area: img5;
}

.projects__item:nth-of-type(6){
    grid-area: img6;
}
/* fin campus*/
/* comienzo altos mandos */

/* .testimonio__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff; 
} */


/* .testimonio.container{
    height: 550px;
    margin: 10px;
    border: auto;
} */

/* .testimonio{

    background: rgb(238, 41, 41);
} */


.testimonio__grid{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}


.testimonio__item{
    width: 95%;
    margin:0 auto;
    background: var(--color-secondary);
    box-shadow: 0px 8px 10px rgba(66,66,66, .5);
    border-radius: 7px;
    padding: 20px 20px;
    color: #fff;
    margin-bottom: 50px;

}

.testimonio__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.testimonio__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 5%;
    border: 3px solid #fff;
    margin-right: 30px;

}

.testmonio__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.testimonio__verification{
color: rgba(171, 123, 226, 0.692);
font-weight: 700;
}

/* footer */

.footer{
    background:var(--color-primary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

/* fin altos mandos  */
/* responsive desing */

@media screen and (max-width:800px){
    .nav{
        justify-content: space-around;
    
}
.nav__items--cta{
    border: none;
}
.nav__items{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
}

.nav__items--footer{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    border: none;
}
 .n__picture{
    padding: auto;
    margin: 0;
    width: 500px;
    height: 250px;
} 

.of__img{
    padding: auto;
    margin: 0;
    width: 200px;
    height: 150px;
}
.of1__picture{
    padding: auto;
    margin: 0;
    width: 200px;
    height: 150px;
}

.hero__texts{
    width: 100%;
    margin-bottom:80px;
}

.hero__title{
    font-size: 2.5rem;
}

.hero__subtitle{
    font-size: 1.5rem;
}
.presentation .container{
    width: 100%;
}

.contacto{
    grid-template-columns: 1fr;
}
.contacto.container{
    padding-top: 30px;
}
.contacto__img--left{
    text-align: center;}
.of{
    grid-template-columns: 1fr;
}
.of.container{
    padding-top: 30px;
}

.of__img{
    text-align: center;}

.of__picture:last-child{
grid-row: 3/4 7/8;
}

.projects__grid{
    grid-template-areas: 
    "img1 img1 img1 img5"
    "img6 img6 img2 img2"
    "img4 img4 img3 img3";
}

.testimonio__grid{
    grid-template-columns: 1fr;
}

.testimonio__item{
    margin-bottom: 30px;
   
}

.footer__grid{
    grid-template-columns: 1fr;
}
    }



@media screen and (max-width: 500px) {
    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
}

.nav__items{
    padding: 0 10px;
    border: 0;
    
}


.hero__texts{
    text-align: center;
    margin-bottom:100px;
}

.hero__title{
    font-size: 2rem;
}

.hero__subtitle{
    font-size: 2rem;
    margin-bottom: 20px;
}

.presentation__picture{
    width: 150px;
    height: 150px;
}

.contacto{
    row-gap: 60px;
}
.contacto.container{
    padding-top: 10px;
}
.contacto__img--left{
    text-align: center;}
.of{
    grid-template-columns: 1fr;
}
.of.container{
    padding-top: 30px;
}

.of__img{
    text-align: center;}

.of__picture:last-child{
grid-row: 3/4 7/8;
}

.projects__grid{
    grid-template-areas: 
   
    "img1 img1 img1 img1"
    "img6 img6 img2 img2"
    "img5 img3 img3 img3"
    "img4 img4 img4 img4"
    ;
}

/* .testimonio__grid{

    grid-template-columns: 1fr;
} */

.testimonio__item{
    padding: 20px 10px;
}

.testimonio__person{
    flex-direction: column;
}
.testimonio__texts{
    text-align: center;
}
.testimonio__img{
    margin: 0;
    margin-bottom: 20px;
}
.n__picture{
    padding: auto;
    margin: 0;
    width: 200px;
    height: 150px;
}

.ae{
    grid-template-columns: 1fr;
}
.ae.container{
    padding-top: 10px;
}

.ae__img{
    text-align: center;}

    .ae__picture:last-child{
        grid-row: 3/4 7/8;
        }

.of1__picture{
    padding: auto;
    margin: 0;
    width: 200px;
    height: 150px;
}


.footer__grid{
    grid-template-columns: 1fr;
}
/* .nav__items--cta{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    align-items: auto;

    padding: 0 10px;
    border: 0;
}


.nav__items--footer{
    align-items: auto;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    padding: 0 10px;
    border: 0;
} */
    
}



/* 
<style>
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Courgette&family=Raleway:wght@200;300;400&display=swap');
</style> */